.copylink {
    display: inline-block;
}

.copylink .tooltiptext {
    visibility: hidden;
}

.copylink .tooltiptext::after {
    content: "";
}
.copylink:hover .tooltiptext {
    visibility: visible;
}
