.copylink .tooltiptext {
    visibility: hidden;
}

.tooltiptext {
    text-decoration: none;
}

.copylink .tooltiptext::after {
    content: "";
}
.copylink:hover .tooltiptext {
    visibility: visible;
}
