a:link {
    color: cyan;
}

a:visited {
    color: cyan;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    margin: 0 15% 0 15%;
}

header h1 {
    padding-top: 1em;
}

#top {
    float: left;
}

#test-name {
    text-align: right;
}

header a:link {
    color: white;
}

header a:visited {
    color: white;
}

nav {
    border-top: 1px solid dimgray;
    border-bottom: 1px solid dimgray;
    margin: 0.5em 0.5em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: magenta;
}

nav li:not(:last-child) {
    border-right: 1px solid dimgray;
}

.section-numbers,
h1 {
    font-size: 2rem;
}

.section-numbers p {
    font-size: 1rem;
}

.article-numbers,
h2 {
    font-size: 1.5rem;
}

ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}

ol > li:before {
    content: counters(item, '.') '. ';
    display: table-cell;
    padding-right: 0.6em;
}

li ol > li {
    margin: 0;
}

li ol > li:before {
    content: counters(item, '.') ' ';
}

p {
    margin-bottom: 1em;
}
